<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создать чат</title>
</head>
<body>
<form th:method="POST" th:action="@{/chats/create-chat-private-or-bot?username={username} (username=${username})}">
    <label for="interlocutors">Выберите собеседника</label>
    <select id="interlocutors" th:field="*{id}" th:object="${user}">
        <option th:each="user: ${users}" th:value="${user.getId()}" th:text="${user.getUsername()}"></option>
    </select>
    <input type="submit" value="Написать!">
</form>
<!--<form th:method="POST" th:action="@{/chats/create-chat-with-bot?username={username} (username=${username})}">-->
<!--    <label>Боты</label>-->
<!--    <select th:field="*{id}" th:object="${bot}">-->
<!--        <option th:each="bot: ${bots}" th:value="${bot.getId()}" th:text="${bot.getUsername()}"></option>-->
<!--    </select>-->
<!--    <input type="submit" value="Написать!">-->
<!--</form>-->
</body>
</html>